.selected {
  -webkit-box-shadow: 0px 0px 4px #4195fc;
  -moz-box-shadow: 0px 0px 4px #4195fc;
  box-shadow: 0px 0px 4px #4195fc;
}
.message {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.panel-body {
  padding-top: 5px;
  padding-bottom: 5px;
}
#name-left {
  float: left;
}
#name-right {
  overflow: hidden;
}
.date {
  position: relative;
  font-size: 11px;
  float: right;
  padding: 3px 6px 0px 6px;
  margin-bottom: -5px;
  color: #888;
}
.close {
  margin-bottom: -5px;
  margin-right: -7px;
}
.messagebody {
  width: 100%;
  word-wrap: break-word;
}
.delete {
  float: right;
}
.delete:hover {
  color: #f00;
}
#name {
  border: none;
  width: 97%;
  margin: 0px 5px 2px 5px;
  padding: 0px 4px 2px 4px;
  position: relative;
  display: inline;
  outline: none;
  border: none;
  background: bottom left linear-gradient(#ccc, #ccc) no-repeat, bottom center linear-gradient(#ccc, #ccc) repeat-x, bottom right linear-gradient(#ccc, #ccc) no-repeat;
  background-size: 1px 6px, 1px 1px, 1px 6px;
}
#textbox {
  width: 100%;
  resize: none;
  max-height: 300px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#textbox.animated {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}
@media (min-width: 992px) {
  #sidebar {
    position: fixed !important;
    top: 20px;
  }
}
@media (max-width: 992px) {
  #sidebar {
    position: static;
  }
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: #eaeaea;
  border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}
